<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

    <div id="app">

        <h1>To-Do List</h1>
        
        <ul>
            <li v-for="(toDoElement, index) in toDoElements" >
                <span @click="toDoElement.done= !toDoElement.done" :style="toDoElement.done == true ? {textDecoration: 'line-through'} : ''">{{ toDoElement.text }}</span> - 
                <span @click="removeToDo(index)">x</span>
            </li>
        </ul>

        <input type="text" v-model="newToDo" @keyup.enter="addToDo()" >
        <button @click="addToDo()">Aggiungi elemento</button>

    </div>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js script -->
    <script type="text/javascript" src="js/script.js"></script>
    
</body>
</html>

